
<!DOCTYPE html>
<html lang="zh-CN"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="icon" href="@{../static/head.jpg}"/>

    <title>Article登陆</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>

    <!-- Custom styles for this template -->
    <link th:href="@{/customcss/login.css}" rel="stylesheet"/>
    <link th:href="@{/customcss/form.css}" rel="stylesheet"/>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
</head>

<body>

<div class="container">

    <form class="form-signin" th:action="@{/login.do}" th:object="${user}" method="post">
        <h2 class="form-signin-heading">请登陆</h2>
        <label for="inputEmail" class="sr-only">用户名</label>
        <input type="text" name="nickname" id="inputEmail" class="form-control" placeholder="用户名" th:value="*{getNickname()}" />
        <label for="inputPassword" class="sr-only">密码</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="密码" th:value="*{getPassword()}"/>
        <div class="checkbox">
            <label>
                <input type="checkbox" th:value="*{isRememberMe()}"/>记住我
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">登陆</button>
        <a th:href="@{/register}"><button class="btn btn-lg btn-primary btn-block form-register" type="button">注册</button></a>
        <label class="form-msg" th:text="*{getMsg()}"></label>
    </form>

</div> <!-- /container -->
</body>
</html>
